div.centralize {
	width: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252525;
	
}
div.inputBlock {
	position: relative;
}
div.inputBlock input {
	font-weight: 500;
	font-size: 1rem;
	color: #f0c305;
	width: 200px;
	height: 10px;
	padding: 15px 15px;
	border-radius: 1rem;
	border: 0.01rem solid  #f0c305;
	outline:none;
	background-color: #252525;
}
div.inputBlock span.placeholder {
	height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #f0c305;
	position: absolute;
	margin: 12px 0;
	padding: 0 5px;
	display: flex;
	align-items: center;
	top: -12px;
	left: 17px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
div.inputBlock input:valid + span.placeholder,
div.inputBlock input:focus + span.placeholder {
transform: scale(0.8) translateY(-30px);
background: #252525;
color:#fff
}
div.inputBlock input:focus{
color: #f0c305;
border-color: #f0c305;
background: #252525;
}
div.inputBlock input:focus + span.placeholder {
color: #f0c305;
background: #252525;
}

