


.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  width: 100%;
  background-image: url("../../assets/giphy.gif");
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 5.5%;
 
  
}

.Image {
  height: 50%;
  cursor: pointer;
  animation: bounce 300ms alternate 6  cubic-bezier(0.2, 0.65, 0.6, 1) ;
  margin-top: -35%;
  margin-left: -3%;
  
  
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #f0e111;

  /* border:#ffffff; */
  border-radius: 45px;
background-color: rgb(32, 37, 109);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* margin:1%; */
  animation: cartel 1s 1;
  animation-delay: 1s;
  transform-origin: top center;
  margin-left: -4.3%;
  margin-top: -4%
}

.button:hover {
  background-color: #f0c305;
  box-shadow: 0px 15px 20px rgb(231, 196, 37);
  color: #ffffff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-10px);
}

@keyframes cartel{ 
  20%{
    transform: rotate(25deg)
  }
  40%{
    transform: rotate(-15deg)
  }
  60%{
    transform: rotate(15deg)
  }
  80%{
    transform: rotate(-5deg)
  }  
}

.about{
    height: 100vb;
    background: #d8a536;
    display: flex;

}
.arrow{
  color: rgb(26, 37, 189);
  cursor: pointer;
  margin-right: 3%;
  margin-left: 70%;
  font-size: 250%;
  opacity: 0;
  
}


@keyframes arrow {
  0% {
    opacity: 0; /* El elemento está oculto al inicio */
  }
  5% {
    opacity: 100; /* El elemento aparece completamente al final de la animación */
  }
  100% {
    opacity: 100; /* El elemento aparece completamente al final de la animación */
  }
}
.yo{  height: 100vb;
}
.arrow {
  animation-name: arrow;
  animation-duration: 2s; /* Duración total de la animación */
  animation-delay: 2s; /* Retraso de 2 segundos antes de que la animación comience */
  animation-fill-mode: forwards; /* Mantiene el estilo del último keyframe después de la animación */
  color: rgb(35, 45, 182);
  cursor: pointer;
  margin-right: 3%;
  margin-left: 70%;
  font-size: 250%;
}